footer a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;  
}

footer {
    padding-left: 40px;
    padding-right: 40px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    width: 100%;
    height: 100px;
    background-color: #06192D;
}

.fa-twitter:hover {
    color: rgb(53, 186, 253) !important;
    transition: 0.25s;
}

.fa-facebook:hover {
    color: rgb(14, 87, 223) !important;
    transition: 0.25s;
}

.fa-youtube:hover {
    color: rgb(255, 30, 30) !important;
    transition: 0.25s;
}

.fa-instagram:hover {
    color: rgb(209, 36, 79) !important;
    transition: 0.25s;
}