hr {
    border: 1px solid rgb(219, 219, 219);
}

.blue {
    color: #197FCB;
}

.slideshow {
    width: 75%;
    height: 100%;

    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;

    margin: auto;
    margin-top: 40px;
}

.welcome {
    border-bottom: 1px solid rgb(223, 223, 223);
}

.welcome p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
}

.images {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;

    display: flex;
    justify-content: center;
}

.images img {
    width: 100%;
    border-radius: 10px;
}

.slide-count {
    text-align: center;

    margin: 5px;
}

.partylist {
    width: 75%;
    height: 100%;

    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;

    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.partylistName {
    color: black;
    font-weight: bolder;
}

.title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.title p,
i {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
}

.positions {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 75%;

    display: flex;
    justify-content: space-between;

}

.positions p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.candidates {
    display: flex;
    justify-content: space-between;
    text-align: center;

    margin: 20px;
}

.candidated-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid rgb(223, 223, 223);
    width: 25%;
    height: 100%;
}

.card img {
    padding-top: 20px;
    padding-bottom: 20px;

    width: 75%;
}

.card .name {
    margin: 10px;
}
.card p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.edit {
    width: 100%;
    height: 600px;

    padding: 15px;

    background-color: rgb(221, 225, 228);
}

.partylist-candidates {
    padding: 20px;

    background-color: white;
}

.top {
    display: flex;

    padding-bottom: 30px;
}

.top button {
    background-color: rgb(9, 212, 9);
    color: white;

    width: 150px;
    height: 40px;

    border: none;
}

.pn {
    margin-left: 38%;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.edit .label, .list {
    display: flex;
}

.label {
    border-bottom: 1px solid rgb(221, 225, 228);
    padding-bottom: 20px;
}

.list-card {
    padding-top: 20px;
    padding-bottom: 10px;
}

.edit .number {
    padding-right: 10%;
}

.edit .names {
    padding-right: 25%;
}

.edit .label-position {
    padding-right: 15%;
}

.edit .label, .list-card {
    display: flex;
}

.list-card .number {
    padding-top: 10px;
    padding-right: 11%;
}

.list-card .names {
    padding-top: 10px;
    padding-right: 11%;
}

.list-card .position {
    margin-right: 9%;
    border: none;
}

.list-card option {
    margin-right: 9%;
    border: none;
}

.list-card .edit-profiles {
    margin-right: 2%;
    padding-top: 10px;
}

.edit-member {
    width: 100px;
    height: 40px;

    margin-left: 5%;
    padding-top: 3px;

    border: none;

    background-color: rgb(26, 189, 26);
    color: white;
}

.delete-member {
    width: 100px;
    height: 40px;

    margin-left: 1%;
    padding-top: 3px;

    border: none;

    background-color: #e60e0e;
    color: white;
}

.edit-member:hover {
    background-color: rgb(11, 146, 11);
    cursor: pointer;
}

.delete-member:hover {
    background-color: #b30615;
    cursor: pointer;
}

.vote {
    margin-left: 43.2%;
    margin-bottom: 20px;

    width: 100px;
    height: 40px;

    border: none;
    border-radius: 5px;

    /** close rgb(69, 100, 69)
     *  open rgb(26, 189, 26)
     * 
     *  text color rgb(199, 199, 199)
     */
    background-color: rgb(69, 100, 69);
    color: rgb(199, 199, 199);
}