* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  padding-right: 15px;
}

.logo img {
  height: 60px;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-right: auto; /* Push pages to the left */
}

.nav {
  height: 55px;

  background-color: #085B98;

  padding-left: 30px;
  padding-right: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.pages {
  height: 100%;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.pages a {
  margin-right: 20px;
  padding-top: 10%;
  padding-left: 10px;
  padding-right: 10px;

  height: 100%;
}

.pages a:hover {
  background-color: #053c7a;
  transition: 0.5s;
}

.notif:hover {
  background-color: #053c7a;
  transition: 0.5s;
}

.profile:hover {
  background-color: #053c7a;
  transition: 0.5s;
}

.more:hover {
  background-color: #053c7a;
  transition: 0.5s;
}

.pages,
.profile,
.more {
  display: flex;
  align-items: center;
}

.notif {
  padding-top: 8px;
  height: 100%;
}

.profile {
  height: 100%;
}

.more {
  height: 100%;
}